h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 20px;
}
.styleCardsList {
    display: grid;
    grid-template-areas: 'header header header header'
                        'cards cards cards cards';
    grid-template-rows: 350px 350px 350px 350px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;

    padding-left: 70px;
    padding-right: 70px;
}

html {
    background: #cccccc;
}

header {
    grid-area: header;
}
.shoppingBasket:after{
    content: '\f291';
    position: absolute;
    top: 30px;
    right: 170px;
    font-size: 40px;
}

